/* 顶部导航top-nav */
body,html {
    height: 100%;
    font-size: 0.8rem;
}
.m-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.7rem;
    background-color: #fff;
    z-index: 100;
    box-sizing: border-box;
}
/*主体内容*/
.m-cnt {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2.7rem 1rem 3rem;
}

/* 底部导航 */
.m-foot {
    width: 100%;
    /*height: 3rem;*/
    border-top: 1px solid #ccc;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    z-index: 100;
}
.m-nav-module {
    padding: 0.25rem 0;
    background: #000;
}
.m-nav-item {
    display: inline-block;
    float: left;
    text-align: center;
    width: 33.33%;
    font-size: 0.6667rem;
    line-height:1rem;
    color:#fff;
}
.m-nav-item--active {
    color:#50e3c2;
}
.m-nav-img {
    height: 1.34rem;
}

/********** 登录 ************/
.m-login {
    height: 100%;
    background: url("../images/login_bg.jpg") no-repeat center center;
    background-size: cover ;
}
input {
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;border: none;
}
.login-form {
    position: absolute;
    bottom:13.2%;
    width: 100%;
    /*margin-top:-8.6rem;*/
}
.login-icon {
    width: 100%;
    margin-bottom: 6.3rem;
}
.form-item {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.form-input {
    width: 100%;
    height: 2.5rem;
    margin: 0.3rem 0;
    border:1px solid #ddd;
    padding: 0 0.8rem;
    box-sizing: border-box;
    color:#666;
    font-size: 0.86rem;
}
.form-input::-webkit-input-placeholder{
    color:#51e4c2;
}
.form-input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#51e4c2;
}
.form-input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#51e4c2;
}
.form-input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color:#51e4c2;
}
.login-radus {
    border-top-left-radius: 1.26667rem;
    border-bottom-left-radius: 1.26667rem;
    border-top-right-radius: 1.26667rem;
    border-bottom-right-radius: 1.26667rem;
}
.login-btn {
    display: block;
    width: 100%;
    padding: 0.78rem 0;
    background: #4fe4c1;
    color: #fff;
    font-size: 0.86rem;
    margin:0 auto;
    margin-top:3rem;
}

/***********首页**************/
.fl {float: left;}
.fr {float: right;}
.m-banner {overflow: hidden;padding-bottom: 2rem;}
.m-ind {padding-bottom: 3rem;}
.swipslider {    padding-top: 63%!important;overflow: visible;}
.m-banner {padding-top: 0.7rem;}
.sw-next-prev {display: none;}
.sw-slide img {border-top-left-radius: 1.26667rem;border-top-right-radius: 1.26667rem;border-bottom-left-radius: 1.26667rem;border-bottom-right-radius: 1.26667rem;}
.ind_border_cicle {border-top-left-radius: 50%;border-top-right-radius: 50%;border-bottom-left-radius: 50%;border-bottom-right-radius: 50%;}
.ind_border_radius{border-top-left-radius: 0.5rem;border-top-right-radius: 0.5rem;border-bottom-left-radius: 0.5rem;border-bottom-right-radius: 0.5rem;}
.sw-bullet {bottom: -12%;}
.sw-bullet li {background: rgba(0,0,0,0.5);}
.sw-bullet li.active {background: #4990e1;}
.m-ind-ico {width: 90%;margin:1rem auto;margin-bottom: 2rem;}
.m-ind-item {width: 33.33%;float: left;}
.m-ind-icon {width: 3.5rem;padding:0.4rem 0;margin:0 auto;text-align: center;}
.m-ind-icon1 {
    background: -webkit-linear-gradient(#00e0da, #00bfb3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#00e0da, #00bfb3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#00e0da, #00bfb3); /* Firefox 3.6 - 15 */
    background: linear-gradient(#00e0da, #00bfb3); /* 标准的语法 */
}
.m-ind-icon2 {
    background: -webkit-linear-gradient(#4bd9fa, #24b1f1); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#4bd9fa, #24b1f1); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#4bd9fa,#24b1f1); /* Firefox 3.6 - 15 */
    background: linear-gradient(#4bd9fa,#24b1f1); /* 标准的语法 */
}
.m-ind-icon3 {
    background: -webkit-linear-gradient(#fed100, #fea400); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#fed100, #fea400); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#fed100, #fea400); /* Firefox 3.6 - 15 */
    background: linear-gradient(#fed100, #fea400); /* 标准的语法 */
}

.m-ind-icon img{width: 2.2rem;}
.m-ind-list {position:relative;padding: 0.8rem 0.5rem ;padding-left:0;border-bottom: 1px solid #ddd;margin-left: 0.6rem;padding-bottom: 1.4rem;}
.m-ind-list-pic {background: #000;text-align: center;width: 4rem;height: 4rem;}
.m-ind-list-pic img {width: 78%;margin-top: 1.56rem;}
.m-ind-list-cnt {padding-left: 0.7rem;width: 70%;}
.m-ind-list-name {max-width: 100%;color:#000;font-size: 0.9rem;line-height: 1.5rem;}
.m-ind-list-num {color:#e90704;font-size: 0.8rem;line-height: 1.2rem;}
.m-ind-list-project {color:#8f8f92;font-size: 0.8rem;line-height: 1.2rem;}
.m-ellipsis {overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;}
.m-ind-link {display: block;}
.m-ind-next {display: block;width: 2rem;height: 3rem;position: absolute;top:0rem;right: 0rem;background: url("../images/icon-next.png") no-repeat center center; }

/**********报修明细**********/
.rep-cnt {box-sizing: border-box;padding-bottom: 3rem;}
.rep-tabs {width: 100%;position: fixed;top:0;z-index: 2;background: #fff;}
.rep-tabs a {width: 50%;display: inline-block;float: left;border-bottom: 2px solid #eee;text-align: center;line-height: 2.5rem;color:#666;}
.rep-tabs a.active{border-bottom: 2px solid red;}
.rep-swiper {padding-top: 2.5rem;background: #fff;min-height: 100%;box-sizing: border-box;}
.rep-detail-list {background: #eee;}
.swiper-wrapper,.swiper-slide,.swiper-container {min-height: 100%!important;}
.rep-detail-tit {font-size: 0.7rem;padding:0.5rem 0.4rem;}
.rep-detail-cnt {background: #fff;margin-bottom: 1px;padding:0.6rem 0.6rem;font-size: 0.85rem; }
.rep-detail-name {color:#666;font-size: 0.78rem;}
.rep-detail-name span {color:#000;}
.rep-detail-value {color: #000;font-size: 0.78rem;}
.rep-detail-value span {color: #666;}
/*.swiper-slide {padding-bottom: 3rem;}*/
.rep-clear {height: 3rem;}
.rep-status-item {border-bottom:1px solid #eee;padding: 0.6rem 0.6rem;font-size: 0.78rem;line-height: 1.3rem;color:#666;}
/*.rep-status-title {color:#000;}*/
/*.rep-status-date {color:#666;}*/

/*门店编辑*/
.rep-input {border:none;outline: none;text-align: right;}